setuptools==58.5.3
wheel==0.45.1
dtw_python==1.4.2
fast_slic==0.4.0
fastdtw==0.3.4
matplotlib==3.7.2
networkx==3.1
numpy==1.23.4
openai==1.90.0
pillow==11.2.1
pyinstrument
meson
meson-python
transformers==4.44.0
scikit_fmm
scikit_image==0.24.0
supervision==0.6.0
timm==0.4.12
tqdm==4.66.4
roboflow==1.1.28
scipy==1.10.1
nltk
gym==0.26.2
opencv_python==4.9.0.80
tensorboard
lmdb==1.6.2
webdataset==0.1.40
ifcfg==0.24